{% extends "homebase.html" %}

{% block title %}Kadromuz {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}



{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a>
                </li>
                <li class="active">Kadromuz</li>
            </ol>
        </div>
    </div>
    <!--//breadcrumbs-->
    <!--about-->
    <div class="about">
        <div class="container">
            <img style="height: 300px;width: 350px; margin-left: 400px" src="{{ content.image.url }}">
            {{ content.detail|safe }}
            <hr>
            {% for rs in images %}
                <img src="{{ rs.image.url }}" height="200" alt="">
            {% endfor %}
        </div>
    </div>
{% endblock %}