{% load static %}
<!--GÜNÜNÜN ÜRÜNLERİ-->

<div class="new">
    <div class="container">

        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Günün <span>Ürünleri</span></h3>
            <p>Bugüne Özel Ürünlerimiz</p>
            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-success {{ message.tags }}" role="alert">
                        <strong>{{ message }}!</strong>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <div class="gallery-info">

            {% for rs in dayproducts %}

                <div class="col-md-3 new-grid simpleCart_shelfItem wow flipInY animated"
                     style="margin-left: 9px; margin-right: 9px" data-wow-delay=".5s">

                    <div class="new-top">
                        <a><img src="{{ rs.image.url }}" style="height: 333px;width: 250px" class="img-responsive"
                                alt=""/></a>
                        <div class="new-text">
                            <ul>
                                <li><a class="item_add" href="/order/addtocart/{{ rs.id }}"> Add to cart</a></li>
                                <li><a href="/product/{{ rs.id }}/{{ rs.slug }}">Quick View </a></li>
                                {% for node in category %}
                                    {% if node.id == rs.category_id %}
                                        <li><a href="/category/{{ node.id }}/{{ node.slug }}">More Option </a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="new-bottom">
                        <h5><a class="name" style="font-size: 20px"
                               href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h5>
                        <div class="rating">
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span class="on">☆</span>
                            <span>☆</span>
                        </div>
                        <div class="ofr">
                            <p class="pric1">
                                <del>{{ rs.price }}₺</del>
                            </p>
                            <p><span class="item_price">{{ rs.price }}₺</span></p>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
<!--//GÜNÜNÜN ÜRÜNLERİ-->


<!--YENİ ÜRÜNLER-->
<div class="gallery">
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Yeni<span> Eklenenler</span></h3>
            <p>Sitemize Yeni Eklenen Ürünler</p>

        </div>
        <div class="gallery-info">
            {% for rs in lastproducts %}

                <div class="col-md-3 gallery-grid wow flipInY animated" style="margin-left: 9px; margin-right: 9px"
                     data-wow-delay=".5s">
                    <a><img src="{{ rs.image.url }}" style="height: 333px;width: 250px" class="img-responsive" alt=""/></a>
                    <div class="gallery-text simpleCart_shelfItem">
                        <h5><a class="name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h5>
                        <p><span class="item_price">{{ rs.price }}₺</span></p>

                        <ul>
                            <li><a class="item_add" href="/order/addtocart/{{ rs.id }}"><span
                                    class="glyphicon glyphicon glyphicon-shopping-cart"
                                    aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--//YENİ ÜRÜNLER-->

    <!--POPULER ÜRÜNLER-->
    <div class="container">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Popüler<span> Ürünler</span></h3>

            <p>Müsterilerimizin En Cok Tercih Ettigi Ürünler </p>

        </div>
        <div class="gallery-info">
            {% for rs in randomproducts %}
                <div class="col-md-3 gallery-grid wow flipInY animated" style="margin-left: 9px; margin-right: 9px"
                     data-wow-delay=".5s">
                    <a><img src="{{ rs.image.url }}" style="height: 333px;width: 250px" class="img-responsive" alt=""/></a>
                    <div class="gallery-text simpleCart_shelfItem">
                        <h5><a class="name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h5>
                        <p><span class="item_price">{{ rs.price }}₺</span></p>

                        <ul>
                            <li><a class="item_add" href="/order/addtocart/{{ rs.id }}"><span
                                    class="glyphicon glyphicon glyphicon-shopping-cart"
                                    aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>
</div>
<!--//POPULER ÜRÜNLER-->