{% load static %}

<div class="header">
    <div class="top-header navbar navbar-default"><!--header-one-->
        <div class="container">
            <div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s"
                 style="margin-top: 3px; margin-bottom: 3px;">
                <ul>
                    {% if user.id is not None %}
                        <img style="height: 50px;width: 50px;border: 0.5px solid gray;"
                             src="{{ request.user.profile.image.url }}">
                        <b style="margin-left: 5px;"> {{ user.first_name }} </b>
                        <a style="margin-left: 5px;" href="/user/"> Profile Git </a>
                        <a style="margin-left: 5px;">/</a>
                        <a style="margin-left: 5px;" href="/logout/">Çıkış Yap </a>
                    {% else %}
                        <a href="/signup/">Üye Ol </a> yada <a href="/login/">Giriş Yap </a>
                    {% endif %}


                </ul>
            </div>
            <div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
                <ul>
                    <li><a href="#"> </a></li>
                    <li><a href="#" class="pin"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                    <li><a href="#" class="be"> </a></li>
                    <li><a href="#" class="you"> </a></li>
                    <li><a href="#" class="vimeo"> </a></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="header-two navbar navbar-default"><!--header-two-->
        <div class="container">
            <div class="nav navbar-nav header-two-left">
                <ul>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>{{ setting.phone }}</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a
                            href="mailto:info@example.com">{{ setting.email }}</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
                <h1><a href="/">Deniz <b>Kitap</b><span class="tag">Aradığınız Kitaba En Hızlı Ulaşabileceğiniz Websitesi </span>
                </a>
                </h1>
            </div>
            <div class="nav navbar-nav navbar-right header-two-right">
                <div class="header-right my-account">
                    <a href="/contact"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        CONTACT US</a>
                </div>
                <div class="header-right cart">
                    <a href="/shopcart/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                    <h4><a href="/shopcart/">
                        <span>Total: {{ total }}₺ </span> (<span> {{ request.session.cart_items }} </span>)
                    </a></h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <script>

        $(function () {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }

    </script>

    <div class="top-nav navbar navbar-default"><!--header-three-->
        <div class="container">
            <nav class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav top-nav-info">
                        <li><a href="/" class="active">Anasayfa</a></li>
                        <li class="dropdown grid">
                            <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Kitap<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu multi-column multi-column2">
                                {% load mptt_tags %}

                                <div class="row">
                                    {% recursetree category %}

                                        <div class="col-sm-3 menu-grids">
                                            {% if not node.is_leaf_node %}
                                                <h4><a>{{ node.title }}</a></h4>
                                            {% elif node.is_leaf_node %}
                                                <h4>
                                                    <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                                </h4>
                                            {% endif %}
                                            <ul class="multi-column-dropdown ">
                                                {% if not node.is_leaf_node %}
                                                    <li>

                                                        <a class="list"
                                                           href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a>

                                                    </li>
                                                {% endif %}
                                            </ul>

                                        </div>

                                        <div class="clearfix"></div>

                                    {% endrecursetree %}

                                </div>

                            </ul>
                        </li>
                        <li><a href="/references">Referanslarımız</a></li>
                        <li><a href="/aboutus">Hakkımızda</a></li>
                        <li><a href="/contact">İletişim</a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <!--//navbar-collapse-->
                    <header class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                        </ul> <!-- cd-header-buttons -->
                    </header>
                </div>
                <!--//navbar-header-->
            </nav>


            <div id="cd-search" class="cd-search">
                <form action="/search/" method="post">
                    {% csrf_token %}
                    <div class="ui-widget">
                        <input id="query" name="query" type="text" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>