{% extends "homebase.html" %}

{% block title %}{{ product.title }}{% endblock %}
{% block keywords %}{{ product.keywords }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}



{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a></li>
                <li><a href="#"><span class="glyphicon " aria-hidden="true"></span>Products</a></li>
                <li><a href="/category/{{ product.category_id }}/{{ product.category.slug }}"><span class="glyphicon "
                                                                                                    aria-hidden="true"></span>{{ product.category }}
                </a></li>
                <li class="active">{{ product.title }}</li>
            </ol>
        </div>
    </div>
    <!--//breadcrumbs-->
    <!--single-page-->
    <div class="single">
        <div class="container">
            <div class="single-info">
                <div class="col-md-6 single-top wow fadeInLeft animated" data-wow-delay=".5s">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="{{ product.image.url }}">
                                <div class="thumb-image"><img src="{{ product.image.url }}" data-imagezoom="true"
                                                              class="img-responsive" alt=""></div>
                            </li>
                            {% for rs in images %}
                                <li data-thumb="{{ rs.image.url }}">
                                    <div class="thumb-image"><img src="{{ rs.image.url }}" data-imagezoom="true"
                                                                  class="img-responsive" alt=""></div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>
                <div class="col-md-6 single-top-left simpleCart_shelfItem wow fadeInRight animated"
                     data-wow-delay=".5s">
                    <h3>{{ product.title }}</h3>

                    <div style="margin-top: 20px; margin-bottom: 20px;">
                        <a href="/product/{{ product.id }}/{{ product.slug }}/product_comment"><b>Add Your
                            Comment</b></a>

                    </div>


                    <h6 class="item_price">{{ product.price }}₺</h6>
                    <p>{{ product.writer }}</p>
                    <p>{{ product.publisher }}</p>

                    <div class="clearfix"></div>

                    <div class="btn_form">
                        <a href="#" class="add-cart item_add">ADD TO CART</a>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
            <!--collapse-tabs-->

            <div class="grid_3 grid_5 wow fadeInDown animated" data-wow-delay=".5s">
                <h3 class="hdg">Tabs</h3>
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab"
                                                                  data-toggle="tab"
                                                                  aria-controls="home"
                                                                  aria-expanded="true">Description</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                                   aria-controls="profile">Comments</a></li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="description"
                             aria-labelledby="home-tab">
                            <p>{{ product.detail|safe }}</p>
                        </div>

                        <div role="tabpanel" class="tab-pane fade " id="profile" aria-labelledby="profile-tab">
                            {% for rs in comments %}
                                <div class="single-rating">
                                    <p>{{ rs.user.first_name }} - {{ rs.created_at }}</p>
                                    <span class="starRating">
                                        <input id="rating5" type="radio" name="rating" value="5" {% if rs.rate < 5 %}
                                               checked {% endif %}>
                                        <label for="rating5">5</label>
                                        <input id="rating4" type="radio" name="rating" value="4" {% if rs.rate < 4 %}
                                               checked {% endif %}>
                                        <label for="rating4">4</label>
                                        <input id="rating3" type="radio" name="rating" value="3" {% if rs.rate < 3 %}
                                               checked {% endif %}>
                                        <label for="rating3">3</label>
                                        <input id="rating2" type="radio" name="rating" value="2" {% if rs.rate < 2 %}
                                               checked {% endif %}>
                                        <label for="rating2">2</label>
                                        <input id="rating1" type="radio" name="rating" value="1"{% if rs.rate < 1 %}
                                               checked {% endif %}>
                                        <label for="rating1">1</label>
                                     </span>

                                </div>
                                <b> {{ rs.subject }}</b>
                                <p> {{ rs.comment }}</p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--//single-page-->





{% endblock %}