{% extends "homebase.html" %}

{% block title %} {{ categorydata.title }}{% endblock %}
{% block keywords %}{{ categorydata.keywords }}{% endblock %}
{% block description %}{{ categorydata.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}



{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a>
                </li>
                <li class="active">{{ categorydata.title }}</li>
            </ol>
        </div>
    </div>
    <!--//breadcrumbs-->
    <!--products-->
    <div class="products">
        <div class="container">
            <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
                <h3 class="title">{{ categorydata.title }}</h3>
                <hr>
            </div>


            <div class="col-md-9 product-model-sec">
                <h4>{{ productCount }} tane ürün listelenmektedir.</h4><br>
                {% if messages %}
                    {% for message in messages %}

                        <div class="alert alert-success {{ message.tags }}" role="alert">
                            <strong>{{ message }}!</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for rs in products %}

                    {% if rs.id|divisibleby:2 != True %}

                        <div class="product-grids simpleCart_shelfItem wow fadeInUp animated" data-wow-delay=".5s">
                            <div class="new-top">
                                <a><img src="{{ rs.image.url }}" class="img-responsive" alt=""/></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a href="/product/{{ rs.id }}/{{ rs.slug }}">Quick View </a></li>
                                        <li><a class="item_add" href="/order/addtocart/{{ rs.id }}"> Add to cart</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }} </a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1">
                                        <del>{{ rs.price }}₺</del>
                                    </p>
                                    <p><span class="item_price">{{ rs.price }}₺</span></p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated"
                             data-wow-delay=".7s">
                            <div class="new-top">
                                <a><img src="{{ rs.image.url }}" class="img-responsive" alt=""/></a>
                                <div class="new-text">
                                    <ul>
                                        <li><a href="/product/{{ rs.id }}/{{ rs.slug }}">Quick View </a></li>
                                        <li><a class="item_add" href="/order/addtocart/{{ rs.id }}"> Add to cart</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="new-bottom">
                                <h5><a class="name" href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h5>
                                <div class="rating">
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span class="on">☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                                <div class="ofr">
                                    <p class="pric1">
                                        <del>{{ rs.price }}₺</del>
                                    </p>
                                    <p><span class="item_price">{{ rs.price }}₺</span></p>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>


            <div class="clearfix"></div>
        </div>
    </div>
    <!--//products-->
{% endblock %}