{% extends "homebase.html" %}

{% block title %}Sign Up {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'>
{% endblock %}



{% block content %}
    <!--breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow fadeInUp" data-wow-delay=".5s">
                <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Anasayfa</a>
                </li>
                <li class="active">Üye Ol</li>
            </ol>
        </div>
    </div>
    <!--//breadcrumbs-->

    <!--login-->
    <div class="login-page">
        <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
            <h3 class="title">Üye<span> Ol</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur </p>
        </div>
        <div class="widget-shadow">
            <div class="login-top wow fadeInUp animated" data-wow-delay=".7s">
                <h4>Zaten Üyemisin?<a href="/login/"> Giris Yap »</a></h4>
            </div>

            <div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert- {{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: gray">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color:red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <input type="submit" name="Register" value="Üye Ol">

                </form>
            </div>
            </form>
        </div>
    </div>
    <div class="login-page-bottom">
        <h5> - YADA -</h5>
        <div class="social-btn"><a href="#"><i>Facebook ile Giriş Yap</i></a></div>
        <div class="social-btn sb-two"><a href="#"><i>Twitter ile Giriş Yap</i></a></div>
    </div>
    </div>
    <!--//login-->
{% endblock %}