{% load static %}


<!--trend-->
<div class="trend wow zoomIn animated" data-wow-delay=".5s">
    <div class="container">
        <div class="trend-info">
            <section class="slider grid">
                <div class="flexslider trend-slider">
                    <ul class="slides">
                        {% for rs in sliderdata %}
                            <li>
                                <div class="col-md-5 trend-left" href="/product/{{ rs.id }}/{{ rs.slug }}">
                                    <img src="{{ rs.image.url }}"  alt=""/>
                                </div>
                                <div class="col-md-7 trend-right">
                                    <h4>SENIN ICIN <span>SECTIKLERIMIZ</span></h4>
                                    <h5>{{ rs.title }}</h5>
                                    <h5>{{ rs.writer }}</h5>
                                    <h5>{{ rs.price }}TL</h5>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
<!--//trend-->
<!--FlexSlider-->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "pagination",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!--End-slider-script-->

