
{% load static %}
<link href="{% static 'css/menu_css.css' %}" rel="stylesheet" type="text/css" media="all"/>
<ul id="menu">
    <li>
        <a href="/user">KULLANICI PROFİLİ</a>
    <li>
    <li>
        <a href="/user/orders">SİPARİŞLERİM</a>
    <li>
    <li>
        <a href="/user/comments">YORUMLARIM</a>
    <li>
    <li>
        <a href="/user/favorits">FAVORİLERİM</a>
    <li>
    <li>
        <a href="/user/products">ÜRÜNLERİM</a>
    <li>
    <li>
        <a href="/logout">ÇIKIŞ</a>
    <li>

</ul>